@media (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
    }

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        background-image: url(img/mobile-top.png);
        height: 735px;

        &__content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
        }

        &__title {
            width: 343px;
            font-size: 32px;
        }

        &__text {
            width: 343px;
            font-size: 14px;
            padding-top: 32px;
        }

        &__button {
            margin-top: 32px;
        }
    }

    .games-box__item {
        width: 100%;
    }

    .game-seasons {

        &__content_left {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
        }

        &__title {
            width: 343px;
            font-size: 32px;
        }

        &__text {
            width: 343px;
            font-size: 14px;
        }

        &__image {
            display: none;

            &-mobile {
                display: block;
                padding-top: 64px;
                width: 100%;
            }
        }
    }

    .words-game {

        &__content_left {
            order: 2;
        }

        &__content_right {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
            order: 1;
        }

        &__title {
            width: 343px;
            font-size: 32px;
        }

        &__text {
            width: 343px;
            font-size: 14px;
        }

        &__image {
            display: none;

            &-mobile {
                display: block;
                padding-top: 64px;
                width: 100%;
            }
        }
    }
}